@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34; /* RGB equivalent of #222222 */
  --background-start-rgb: 34, 34, 34; /* Assuming you want the same color for start */
  --background-end-rgb: 34, 34, 34; /* Assuming you want the same color for end */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 34, 34, 34; /* You might want different values for light mode */
    --background-start-rgb: 34, 34, 34;
    --background-end-rgb: 34, 34, 34;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.font-cinzel {
  font-family: 'Cinzel', serif;
}
::-webkit-scrollbar {
  display: none; /* dla przeglądarek opartych na Webkit i Blink */
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom-gradient {
  background: rgb(101,237,171);
  background: linear-gradient(320deg, rgba(101,237,171,1) 0%, rgba(140,233,129,1) 74%, rgba(124,185,62,1) 100%);
}

.custom-gradient-footer {
  background: rgb(217,217,217);
  background: linear-gradient(180deg, rgba(217,217,217,1) 0%, rgba(115,115,115,1) 100%);
}

.custom-text-gradient {
  background: -webkit-linear-gradient(#66e4e4, #8edd3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}